<header class="header header-team">
	<%= render "nav" %>
	<h1 class="header-caption">About Us</h1>
	<span class="header-description">Learn more about our company</span>
</header>
<section class="section-mini section-article txtcenter">
	<h2 class="section-divider-heading" id="what-we-do">What we do</h2>
	<p>We are designers at designscook trying to provide designs for as much clients around the globe seeking visually satisfying designs and to achieve this we use our platform to <dfn title="A process of getting work or funding, usually online, from a crowd of people">crowdsource</dfn> jobs to various talented designers providing job opportunities for them and make it easier for low budget clients to get their job done. If clients choose to get the job done by our in-house designers, we offer a great service and we have a lot of time to give you a design that will make you smile.</p>
</section>
<!-- Team Display Section -->
<!--
<section class="section-mini section-team">
	<h2 class="section-divider-heading" id="team">Team</h2>
	<% (1..6).each do |u| %>
	<div class="team-member" data-img="http://placehold.it/400x400">
	  <div class="overlay"></div>
	  <div class="corner-overlay-content"><span class="team-detail">+</span></div>
	  <div class="overlay-content">
	    <header class="overlay-content__header"><h2>Staff name</h2><span>position</span></header>
	    <div class="overlay-content__links">
		  	<a href="" target="_blank">
		  		<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
		  	</a>
		  	<a href="" target="_blank">
		  		<svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
		  	</a>
		  	<a href="" target="_blank">
		  		<svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
		  	</a>
		  	<a href="" target="_blank">
		  		<svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
		  	</a>
		  </div>
	  </div>
	</div>
	<% end %>
</section>
-->
<!-- End Team Display -->
<section class="section-mini section-article txtcenter">
	<h2 class="section-divider-heading" id="philosophy">Philosophy</h2>
	<p>Design is not just what it looks like or feels like, design is how it works</p>
	<p>Your future is created by what you do today not tomorrow</p>
	<p>The essential part of creativity is not being afraid to fail</p>
	<p>People ignore designs that ignore people</p>
	<p>Design is simple, that's why it is so complicated</p>
</section>
<section class="section-mini section-article txtcenter">
	<h2 class="section-divider-heading" id="contact">Contact us</h2>
	<p>We'd love to hear from you. drop us an email at <span class="email-address"></span> or call us on the following lines:</p>
	<p>01-291-6531, 0809-800-0901</p>
	<p>To follow us on social media, use the links in the footer</p>
</section>