<header class="header header-team">
	<%= render "nav" %>
	<h1 class="header-caption">About Us</h1>
	<span class="header-description">Meet our awesome team</span>
</header>
<section class="section-mini section-team">
	<div class="team-member" data-img="http://placehold.it/400x400">
	  <div class="overlay"></div>
	  <div class="corner-overlay-content"><span class="team-detail">+</span></div>
	  <div class="overlay-content">
	    <header class="overlay-content__header"><h2>Soji Benn</h2><span>CEO</span></header>
	    <div class="overlay-content__links">
		  	<a href="https://twitter.com/designscook" target="_blank">
		  		<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
		  	</a>
		  	<a href="https://www.facebook.com/pages/DesignsCook/1426586880962451" target="_blank">
		  		<svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
		  	</a>
		  	<a href="https://instagram.com/designscook/" target="_blank">
		  		<svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
		  	</a>
		  	<a href="https://plus.google.com/115870390292957554586/posts/Zq7f3vA2Kz8" target="_blank">
		  		<svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
		  	</a>
		  </div>
	  </div>
	</div>
	<div class="team-member" data-img="http://placehold.it/400x400">
	  <div class="overlay"></div>
	  <div class="corner-overlay-content"><span class="team-detail">+</span></div>
	  <div class="overlay-content">
	    <header class="overlay-content__header"><h2>Soji Benn</h2><span>CEO</span></header>
	    <div class="overlay-content__links">
		  	<a href="https://twitter.com/designscook" target="_blank">
		  		<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
		  	</a>
		  	<a href="https://www.facebook.com/pages/DesignsCook/1426586880962451" target="_blank">
		  		<svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
		  	</a>
		  	<a href="https://instagram.com/designscook/" target="_blank">
		  		<svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
		  	</a>
		  	<a href="https://plus.google.com/115870390292957554586/posts/Zq7f3vA2Kz8" target="_blank">
		  		<svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
		  	</a>
		  </div>
	  </div>
	</div>
	<div class="team-member" data-img="http://placehold.it/400x400">
	  <div class="overlay"></div>
	  <div class="corner-overlay-content"><span class="team-detail">+</span></div>
	  <div class="overlay-content">
	    <header class="overlay-content__header"><h2>Soji Benn</h2><span>CEO</span></header>
	    <div class="overlay-content__links">
		  	<a href="https://twitter.com/designscook" target="_blank">
		  		<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
		  	</a>
		  	<a href="https://www.facebook.com/pages/DesignsCook/1426586880962451" target="_blank">
		  		<svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
		  	</a>
		  	<a href="https://instagram.com/designscook/" target="_blank">
		  		<svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
		  	</a>
		  	<a href="https://plus.google.com/115870390292957554586/posts/Zq7f3vA2Kz8" target="_blank">
		  		<svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
		  	</a>
		  </div>
	  </div>
	</div>
</section>
<section class="section-mini section-article txtcenter">
	<h2 class="section-divider-heading" id="philosophy">Philosophy</h2>
	<p>Design is not just what it looks like or feels like, design is how it works</p>
	<p>Your future is created by what you do today not tomorrow</p>
	<p>The essential part of creativity is not being afraid to fail</p>
	<p>People ignore designs that ignore people</p>
	<p>Design is simple, that's why it is so complicated</p>
</section>
<section class="section-mini section-article txtcenter">
	<h2 class="section-divider-heading" id="contact">Contact us</h2>
	<p>We'd love to hear from you. drop us an email at <span class="email-address"></span> or call us on the following lines:</p>
	<p>01-291-6531, 0809-800-0901</p>
	<p>To follow us on social media, use the links in the footer</p>
</section>