<header class="header header-help">
	<%= render "nav" %>
	<h1 class="header-caption">Help and Usage guide</h1>
	<span class="header-description">Frequently asked questions</span>
</header>
<section class="section-mini section-article">
	<article>
		<h2>Questions</h2>
		<ol>
			<li><a href="#1" class=link__decorated>How is this different from buying a template design?</a></li>
			<li><a href="#2" class=link__decorated>How many different designs will I get to choose from?</a></li>
			<li><a href="#3" class=link__decorated>What happens if I don't like any of the designs I receive?</a></li>
			<li><a href="#4" class=link__decorated>Can I get revisions to the designs I receive?</a></li>
			<li><a href="#5" class=link__decorated>What do you mean by crowd-sourced work process in the pricing?</a></li>
			<li><a href="#6" class=link__decorated>How can I own a designer and a customer account with a single email?</a></li>
			<li><a href="#7" class=link__decorated>How can I use your API to fetch your available design projects?</a></li>
		</ol>
		<h2>Answers</h2>
		<h3 id="1">How this is different from buying a template design</h3>
		<p>Buying from DesignsCook gives you a custom design and unique identity created by a professional designer. Unlike buying a template, you will receive unique artwork based on your specific needs and preferences.</p>
		<h3 id="2">The number of design options to choose from</h3>
		<p>The number of design options is always listed with the chosen plan. However, you can expect to receive over 50 designs from multiple designers. The more active you are in providing feedback, the more designs you're likely to receive.</p>
		<h3 id="3">When you do not like any of the designs you receive</h3>
		<p>If you haven't found what you're looking for, contact us and we can reach out to more designers on your behalf. If you're still not satisfied with the designs you receive, DesignsCook offers a money back guarantee!</p>
		<h3 id="4">Revisions on your design</h3>
		<p>Our designers will refine their work in response to your feedback. In fact, the more feedback you can provide about what you're looking for, the better!</p>
		<h3 id="5">What we mean by crowd-sourced process</h3>
		<p>Crowd-sourced work process are design jobs given to the hundreds of designers in our platform for pre-selection. It is an alternative to the dedicated work process that involves getting designs done by our in-house dedicated designers</p>
		<h3 id="6">How to use single email for designer and customer account</h3>
		<p>To use a single email for a customer and designer account, go to your settings page and click the button at the bottom that says <em>"Create <strong>THE ALTERNATIVE OF YOUR CURRENT ACCOUNT TYPE</strong>"</em>.</p>
		<h3 id="7">Using our API to fetch design projects</h3>
		<p>The DesignsCook URL API comes in JSON and XML formats. For JSON, simply visit the URL below:</p>
		<p><pre><a href="http://designscook.com/projects/stream-api">http://designscook.com/projects/stream-api</a></pre></p>
		<p>For XML:</p>
		<p><pre><a href="http://designscook.com/projects/stream-api?format=xml">http://designscook.com/projects/stream-api?format=xml</a></pre></p>
	</article>
</section>