<header class="header header-landing">
	<div class="hamburger-menu" id="js-toggle-nav"></div>
	<nav class="header-navigation">
		<ul>
			<li><a href="">Sign up</a></li>
			<li><a href="">Log in</a></li>
		</ul>
	</nav>
	<%= link_to root_path do %>
	<%= image_tag "logo.png", alt: 'DesignsCrowd', class: 'logo' %>
	<% end %>
	<h1 class="header-caption">Get Custom Designs Today</h1>
	<span class="header-description">Your online design marketplace. We deliver faster, better and cheaper</span>
	<div class="header-button__options">
		<a href="" class="button button-polarized button-large">I need designs</a>
		<a href="" class="button button-bordered button-large">I'm a designer</a>
	</div>
</header>
<main>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis vel in non doloremque consectetur accusantium iusto ab, corporis repudiandae explicabo qui labore placeat magnam, quaerat molestiae. Exercitationem veniam iste maiores adipisci autem dignissimos optio iure tenetur sint architecto voluptatibus ex odio quam fugiat delectus, ipsum qui cupiditate rem eos! Architecto mollitia eum, dicta impedit. Quae magni cumque, labore odit harum, cupiditate hic vero voluptas commodi magnam adipisci non illo quod eum. Dignissimos quis rerum eveniet nam. Similique, animi deleniti natus alias earum veniam optio sint, est itaque, quia aut minima beatae vel minus nobis quaerat molestiae repellendus dolore laudantium, quidem velit. Illum accusamus impedit, possimus rerum doloremque rem, in itaque, eaque excepturi ad magnam? Nulla nam qui optio in, numquam quis, tempora deleniti rerum, architecto libero id eligendi fuga iste harum, corporis! Architecto eligendi aliquid autem, qui culpa dolorum iusto a odit ipsam cum inventore necessitatibus saepe veniam ducimus repellendus repellat voluptatem cupiditate doloremque quae porro animi expedita. Quisquam error culpa earum reprehenderit doloribus fugiat quidem voluptatem, architecto voluptate magni dolores nobis labore aperiam obcaecati minima assumenda facere neque eaque accusantium soluta accusamus. Quod ipsum laborum labore nihil libero atque voluptas sunt, possimus veritatis quasi odio expedita minus dolorum praesentium animi? Facilis saepe cumque dicta ut laudantium culpa in, enim eaque itaque quam, maiores voluptates eos placeat quos aspernatur impedit quidem veniam ab doloribus deserunt possimus deleniti fugiat? Et dolore consectetur, molestias voluptas reiciendis, at placeat laudantium delectus accusantium ratione, omnis pariatur cumque minus quia dolorum expedita accusamus? Incidunt praesentium earum dolore recusandae amet beatae obcaecati vero, nam mollitia voluptatum aliquam corporis sit eaque in dicta esse! Pariatur sapiente, aperiam cupiditate hic reiciendis beatae deleniti. Dolor repudiandae eligendi ad nobis, veniam voluptatem nesciunt quo in molestiae voluptatum. Deserunt nemo saepe vitae architecto accusantium autem similique eaque fuga, officia itaque neque nisi odit at dolorum. Natus corporis, molestiae sed impedit, enim minima minus! Cumque perferendis nemo quis voluptatem temporibus ratione, consectetur, laudantium voluptatibus eius, voluptates dolorem blanditiis velit aut deserunt a voluptas facilis. Sit, iure dolore magnam voluptatibus similique ex blanditiis error autem a soluta earum laudantium doloribus eaque deserunt officiis fugit, tempore, sed exercitationem eum nam natus? Cupiditate commodi aut eum alias distinctio numquam maxime voluptatibus. Omnis mollitia voluptate, quasi fugit labore saepe quisquam magnam cumque explicabo debitis, ipsam et repudiandae placeat id, quae eligendi nobis odio praesentium vel pariatur nemo impedit sint rerum. Fuga, nobis amet quisquam est harum.</p>
</main>