<header class="header-overlayed">
	<%= image_tag "logo.png", alt: 'DesignsCrowd' %>
	<h1 class="header-caption">Get Custom Designs Today</h1>
	<span class="header-description">Your online design marketplace. We deliver faster, better and cheaper</span>
</header>