<header class="header header-landing">
	<svg class="icon icon-menu" id="js-toggle-nav"><use xlink:href="#icon-menu"></use></svg>
	<nav class="header-navigation">
		<ul>
			<li><a href="">Sign up</a></li>
			<li><a href="">Log in</a></li>
		</ul>
	</nav>
	<%= link_to root_path do %>
	<%= image_tag "logo.png", alt: 'DesignsCrowd', class: 'logo' %>
	<% end %>
	<h1 class="header-caption">Get Custom Designs Today</h1>
	<span class="header-description">Your online design marketplace. We deliver faster, better and cheaper</span>
	<div class="header-button__options">
		<a href="" class="button button-polarized button-large">I need designs</a>
		<a href="" class="button button-bordered button-large">I'm a designer</a>
	</div>
</header>
<section class="section-tour section-tour__mini">
	<h2 class="section-tour-title">How <strong>DesignsCook</strong> works</h2>
	<svg class="icon icon-postings"><use xlink:href="#icon-postings"></use></svg>
	<h3>Post a brief</h3>
	<p>Make a short guideline about your design for designers</p>
</section>