<header class="header header-careers">
	<%= render "nav" %>
	<h1 class="header-caption">Careers</h1>
	<span class="header-description">Positions available at DesignsCook</span>
</header>
<section class="section-mini section-article">
	<article>
		<h2>Positions</h2>
		<ul>
			<li><a href="#frontend">Front End Web Developer</a></li>
			<li><a href="#backend">Ruby-on-rails Back End Developer</a></li>
			<li><a href="#writer">Technical Writer</a></li>
		</ul>
		<h3 id="frontend">Front End Web Developer</h3>
		<p>We're looking for a hands-on UI developer. You will be working with closely with the UX team and backend engineering team. Help in developing mobile and web tools in an iterative and collaborative way.</p>
		<h4 id="frontend-qualifications">Qualifications</h4>
		<p>3+ years with JavaScript, AngularJS, jQuery, HTML5, CSS3</p>
		<p>Good optimization techniques for performance</p>
		<p>Ability to create quality mock-ups and prototypes on tight timelines</p>
		<p>Solid understanding of web standards, CSS-based design, design patterns like OOCSS and SMACSS, cross-browser compatibility</p>
		<p>Provide website maintenance and enhancement</p>
		<p>The position is available for remote applications if you are comfortable working remotely from a suitable working environment of your choice (e.g a home office) from your own computer. It also requires that you can be reached through calls and return a quick response.</p>
		<p>Knowledge of Ruby-on-rails is a plus</p>
		<h3 id="backend">Ruby-on-rails Back End Developer</h3>
		<p>If you are a hotshot ruby-on-rails developer, we will need you to come and work with us to improve functionalities and add features to our decent and readable codebase. You will have a front-end developer to produce wonderful user interfaces for you to integrate with.</p>
		<h4 id="backend-qualification">Qualifications</h4>
		<p>5+ years of development experience with at least 2 years of Ruby on Rails experience</p>
		<p>Object oriented design and implementation</p>
		<p>Experience with Agile software development methodologies</p>
		<p>Considers TDD (Test-Driven Development) and BDD(Behaviour-Driven Development)</p>
		<p>Amazon Web Services (CloudFlare, S3)</p>
		<p>PostgreSQL database</p>
		<p>A knowledge of HTML5, CSS3, and jQuery.</p>
		<p>Mobile(iOS/Android) development is a plus</p>
		<h3 id="writer">Technical Writer</h3>
		<p>We need a prolific writer with an experience on design, online marketing, and technical writing to help author our blog</p>
		<h4 id="writer-qualification">Qualifications</h4>
		<p>You have excellent written communication skills. You are extremely pedantic about spelling and grammar, but remain an affable human being nonetheless.</p>
		<p>You're patient to respond to user comments politely</p>
		<p>You can work independently and contendedly</p>
		<p>You have a strong passion for designs</p>

		<h2 id="how-to-apply">How To Apply</h2>
		<p>Send an email to careers &lt;at&gt; designscook.com with the following:</p>
		<ul>
			<li>A link to your C.V or attach a docx/pdf document</li>
			<li>Reasons why you want to work for DesignsCook</li>
			<li>For programming related jobs, a link to your Github account</li>
			<li>Your Skype account and link to your twitter account if available</li>
		</ul>
		<p>We will give you a call over Skype or send you an email if we are interested in your application</p>
		<p>We welcome applications from everybody, regardless of race, gender, sexual orientation, etc. Our emphasis is on finding somebody with demonstrable skill rather than somebody who is good at self-marketing.</p>
		<p>If you have any questions, you can also reach us at our careers email address.</p>
	</article>
</section>