<header class="header header-laws">
	<%= render "nav" %>
	<h1 class="header-caption">Terms of Service</h1>
	<span class="header-description">How our service works to suit you</span>
</header>
<section class="section-mini section-article">
	The Terms of using designscook
</section>