<header class="header header-laws">
	<svg class="icon icon-menu" id="js-toggle-nav"><use xlink:href="#icon-menu"></use></svg>
	<nav class="header-navigation">
		<ul>
			<li>
				<%= link_to 'Sign up', new_user_registration_path %>
			</li>
			<li>
				<%= link_to 'Log in', new_user_session_path %>
			</li>
		</ul>
	</nav>
	<%= link_to root_path do %>
	<%= image_tag "logo.png", alt: 'DesignsCrowd', class: 'logo' %>
	<% end %>
	<h1 class="header-caption">Terms of Service</h1>
	<span class="header-description">How our service works to suit you</span>
</header>
<section class="section-mini section-article">
	The Terms of using designscook
</section>