<nav class="steps">
	<ul>
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
	</ul>
</nav>
<section class="section-categories section-mini">
	<h1>Select the type of design you need</h1>
	<div class="category-item"><span class="category-logo"></span>Logo</div>
	<div class="category-item"><span class="category-stationery"></span>Stationery</div>
	<div class="category-item"><span class="category-banner"></span>Banner/Flyer</div>
	<div class="category-item"><span class="category-brochure"></span>Brochure</div>
	<div class="category-item"><span class="category-website"></span>Website</div>
	<div class="category-item"><span class="category-corporate"></span>Corporate</div>
	<%= link_to 'Custom', pricing_custom_path, class: 'button button-bordered-brand' %>
</section>