
<section class="section-categories section-mini">
	<h2 class="section-divider-heading" id="customers">What do you need designed?</h2>
	<div class="category-item"><span class="category-logo"></span>Logo</div>
	<div class="category-item"><span class="category-stationery"></span>Stationery</div>
	<div class="category-item"><span class="category-banner"></span>Banner/Flyer</div>
	<div class="category-item"><span class="category-brochure"></span>Brochure</div>
	<div class="category-item"><span class="category-website"></span>Website</div>
	<div class="category-item"><span class="category-corporate"></span>Corporate</div>
	<%= link_to 'Other designs', pricing_custom_path, class: 'button button-bordered-brand' %>
</section>