@keyframes tourEffect{
	0%{
		transform: scale(.5);
	}
	35%{
		transform: rotate(45deg);
	}
	75%{
		transform: rotate(-45deg);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes woodbreeze{
	0%{
    transform: rotate(3deg);
    transform-origin: top center;
  }
  50%{
    transform: rotate(-3deg);
    transform-origin: top center;
  }
  100%{
    transform: rotate(3deg);
    transform-origin: top center;
  }
}
@keyframes blinkNotify{
	0%{
		color: #fff;
	}
	50%{
		color: #f00;
	}
	100%{
		color: #fff;
	}
}