a{ text-decoration: none; color: inherit; }
html{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: 62.5%;
}
body{
  margin: 0;
  font-family: $font-stack;
  font-size: 15px; /* For Browsers with no support for root em */
  font-size: 1.5rem;
  background: image-url("background.jpg");
  color: $color-brand-1;
  /* Has to be out for zopim live chat to function properly but smoothness of mobile menu is affected */
  //transform: translate3d(0, 0, 0);
  //transition: transform 500ms ease;
  overflow-x: hidden;
  .openNav &{
  	left: 0;
  	transform: translate3d(70%, 0, 0);
  	transition: transform 500ms ease;
  }
}
input, textarea, select{ background: $white; font-family: $font-stack; }
.logo{
	@include breakpoint($breakpoint-android-landscape + 4px){
		position: absolute;
		top: 40px;
		left: 50px;
	}
}
.header{
  padding: 20px;
	text-align: center;
	color: $white;
	&-landing{
		@include tinted-bg(darken($color-brand-1, 12%), .95, "header-1.jpg", 100% 100%);
  	height: 500px;
	}
	&-authentication{
		position: relative;
		@include tinted-bg(darken($color-brand-1, 12%), .95, "header-2.jpg", cover);
  	height: 320px;
  	padding: 100px 40px;
	}
	&-pricing{
		@include tinted-bg(#421800, .95, "header-1.jpg", 100% 100%);
		height: 280px;
		@include breakpoint($breakpoint-android-landscape + 4px){
			height: 400px;
		}
		@include breakpoint($breakpoint-tablet-portrait){
			height: 450px;
		}
	}
	&-laws{
		@include tinted-bg(darken($color-brand-1, 12%), .95, "header-3.jpg", 100% 100%);
		height: 280px;
		@include breakpoint($breakpoint-android-landscape + 4px){
			height: 400px;
		}
		@include breakpoint($breakpoint-tablet-portrait){
			height: 450px;
		}
	}
	&-help{
		@extend .header-laws;
		@include tinted-bg(darken($color-brand-1, 12%), .95, "header-2.jpg", cover);
		background-position: 0 -530px;
	}
	&-careers{
		@extend .header-laws;
		@include tinted-bg(darken($color-brand-1, 12%), .95, "header-5.jpg", cover);
		@include breakpoint(1400px){
		 background-position: 0 -480px;
		}
	}
	&-team{
		@extend .header-laws;
		@include tinted-bg(darken($color-brand-1, 12%), .95, "header-6.jpg", cover);
		@include breakpoint($breakpoint-tablet-landscape){
		 background-position: 0 -120px;
		}
		@include breakpoint(1400px){
			background-position: 0 -220px;
		}
	}
	&-authenticated{
		position: relative;
		padding-top: 100px;
		background: image-url("header-4.jpg");
		background-position: 0 -530px;
		transition: background-position 1s linear 1.2s;
		&:hover{
			background-position: 0 -220px;
		}
		height: 220px;
		@include breakpoint($breakpoint-android-landscape + 4px){
			height: 400px;
		}
		.icon-menu{
			z-index: 10;
			@include breakpoint($breakpoint-android-landscape + 4px){
				display: block;
			}
			@include breakpoint($breakpoint-tablet-portrait){
				display: none;
			}
		}
		.header-caption{
			text-shadow: 1px 2px 2px $color-brand-1;
		}
	}
	&-caption{
		font-size: 3.2rem;
		margin: 30px 0;
		@include breakpoint($breakpoint-android-landscape){
			margin: 8px 0;
		}
		@include breakpoint($breakpoint-android-landscape + 4px){
			margin: 150px 30px 0;
		}
		@include breakpoint($breakpoint-tablet-portrait){
			font-size: 4.5rem;
		}
		&__image{
			width: 90%;
			@include breakpoint($breakpoint-android-landscape + 4px){
				width: 80%;
			}
			@include breakpoint($breakpoint-tablet-portrait){
				width: 600px;
			}
		}
	}
	&-description{
		font-size: 1.6rem;
		@include breakpoint($breakpoint-tablet-portrait){
			font-size: 2.2rem;
		}
	}
	&-button__options{
		padding: 10px;
		@include breakpoint($breakpoint-android-landscape + 4px){
			position: absolute;
			left: 0;
			width: 100%;
			top: 300px;
		}
	  > .button{
		  margin: 5px;
		}
	}
	&-navigation{
		position: fixed;
		top: 0;
		left: -70%;
		width: 70%;
		height: 100%;
		background: $color-brand-1;
		ul{
			list-style: none;
			padding: 0;
		}
		li>a{
			display: block;
			background: darken($color-brand-1, 5%);
			padding: 15px;
			margin: 2px 0;
			&:hover{
				background: darken($color-brand-1, 8%);
			}
		}
		@include breakpoint($breakpoint-android-landscape + 4px){
			position: absolute;
			left: auto;
			width: auto;
			min-width: 205px;
			height: auto;
			background: transparent;
			top: 30px;
		  right: 40px;
		  ul{
		  	@include clearfixable;
		  	border: solid thin $white;
		  	height: 40px;
		  	border-radius: 4px;
		  	padding: 4px 0;
		  }
		  li{
			  >a{
			  	display: inline-block;
			  	margin: 0;
			  	background: transparent;
			  	letter-spacing: 1px;
			  	padding: 4px;
			  	width: 100px;
			  	float: left;
			  	border-left: solid thin $white;
			  	&:hover{
			  		background: transparent;
			  		color: darken($white, 20%);
			  	}
			  }
			  &:first-of-type{
			  	a{
			  		border: none;
			  	}
			  }
		  }	
		}
	}
}
.button{
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	&-large{
		width: 200px;
	}
	&-polarized{
		background: $color-brand-2;
		border: solid 2px $color-brand-2;
		color: $white;
		&:hover{
			background: darken($color-brand-2, 10%);
		}
	}
	&-bordered{
		background: transparent;
		border: solid 2px $white;
		color: $white;
		&:hover{
			background: rgba($white, .8);
			color: $color-brand-1;
		}
	}
	&-bordered-brand{
		display: inline-block;
		padding: 10px;
		border-radius: 4px;
		cursor: pointer;
		background: transparent;
		border: solid 2px $color-brand-1;
		color: $color-brand-1;
		&:hover, &:focus{
			background: $color-brand-1;
			color: darken($white, 10%);
		}
	}
	&-pricing{
		background: darken($color-brand-2, 10%);
		color: $white;
		width: 100%;
		margin: 5px 0;
		&:hover{
			background: darken($color-brand-2, 15%);
		}
	}
	&-widget__purchase{
		background: $color-purchase;
		color: $white;
		&:hover{
			background: darken($color-purchase, 5%);
		}
	}
	&-widget__decline{
		background: $color-unpurchase;
		color: $white;
		&:hover{
      background: darken($color-unpurchase, 5%);
		}
	}
	&-solid{
		background-image: linear-gradient(#ddd, #999);
		color: #555;
		text-shadow: 0 0 2px #eee;
		&:focus, &:active{
			outline-color: #bbb;
		}
	}
}
.footer{
	padding: 30px;
	color: $white;
	vertical-align: text-bottom;
	&-primary{
		@include tinted-bg(darken($color-brand-1, 8%), .95, "footer-bg.jpg", 100% 100%);
		text-align: center;
		@include breakpoint($breakpoint-tablet-landscape){
			padding: 50px;
			text-align: justify;
		}
	}
	&-list{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			margin: 10px 0;
			white-space: nowrap;
		}
		a:hover{
			color: darken($white, 25%);
		}
	}
	&-sub__heading{
		margin: 15px 0;
		font-size: 2.5rem;
	}
}
.email-address::after{
	content: "info@designscook.com"
}
.app-links{
	margin: 5px;
}
.payment{
	margin: 15px 0;
	&-option{
		width: 50px;
	}
}
.icon{
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	fill: currentColor;
	&-payments{
		width: 4rem;
		font-size: 3rem;
		color: #ddd;
	}
	&-menu{
		position: absolute;
		top: 20px;
		left: 20px;
		height: 32px;
		width: 32px;
		font-size: 3rem;
		cursor: pointer;
		@include breakpoint($breakpoint-android-landscape + 4px){
			display: none;
		}
	}
	&-postings{
		width: 100px;
		height: 100px;
		color: $color-brand-1;
	}
}
/* Grids */
.container{
	@include container(100%);
}
[data-grid~="1:5"]{
	@include span(100%);
	@include breakpoint($breakpoint-tablet-portrait){
		@include span(30%);
		&:last-child{
			@include span(100%);
		}
	}
	@include breakpoint($breakpoint-tablet-landscape){
		@include span(18%);
		&:last-child{
			@include span(18%);
		}
	}
}
.section{
	&-mini{
		max-width: 1100px;
		margin: 0 auto;
		@include clearfixable;
	}
	&-tour{
		text-align: center;
		&__step{
			@include breakpoint($breakpoint-tablet-portrait + 1px){
				position: relative;
				float: left;
				padding: 10px;
				width: 25%;
				&:not(:last-of-type)::after{
					content: image-url("forward.svg");
					width: 64px;
					height: 64px;
					position: absolute;
					top: 30px;
					right: -30px;
				}
			}
			&:hover > .icon-postings{	
			  animation: tourEffect 1s;
			}
		}
		&-title{
			font-weight: lighter;
			>strong{
				font-weight: bold;
			}
			@include breakpoint($breakpoint-tablet-landscape){
				font-size: 2.8rem;
			}
		}
	}
	&-portfolio{
		padding: 20px 10px;
		text-align: center;
	}
	&-demo{
		background: $color-brand-1;
		padding: 40px 10px;
		margin: 10px 0;
		text-align: center;
		&__caption{
			@include breakpoint($breakpoint-tablet-portrait){
				animation: woodbreeze 10s infinite;
			}
		}
		@include breakpoint($breakpoint-tablet-landscape){
			@include clearfixable;
			> div{
				float: left;
				width: 50%;
			}
		}
	}
	&-divider-heading{
		position: relative;
		margin: 10px auto;
		padding: 10px;
		text-align: center;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 250px;
			height: 10px;
			border-top: solid 2px $color-brand-1;
		}
	}
	&-categories{
		padding: 10px 0;
		text-align: center;
	}
	&-pricing{
		text-align: center;
		> p{
			padding: 0;
			margin: 0;
		}
	}
	&-article{
		@include breakpoint($breakpoint-tablet-portrait){
		  font-size: 2rem;
	  }
		padding: 40px 10px;
		article{
			text-align: justify;
		}
		time{
			font-style: italic;
		}
		li{
			margin: 5px 0;
			>ul{
				margin: 0;
				padding: 0;
			}
		}
	}
	&-dashboard{
		overflow: hidden;
		@include clearfixable;
		@include breakpoint($breakpoint-tablet-portrait - 1px){
		  height: 1320px;
	  }
	  @include breakpoint($breakpoint-tablet-wide){
	  	height: 700px;
	  }
		> *{
			@include breakpoint($breakpoint-tablet-portrait - 1px){
			  float: left;
		  }
		}
		> nav{
			background: darken($color-brand-1, 10%);
			@include breakpoint($breakpoint-tablet-portrait - 1px){
				width: 30%;
				height: 100%;
			}
			@include breakpoint($breakpoint-tablet-landscape){
				width: 20%;
			}
			h3{
				color: #ddd;
				text-align: center;
			}
		}
		> main{
			padding: 20px 10px;
			@include breakpoint($breakpoint-tablet-portrait - 1px){
			  width: 70%;
		  }
		  @include breakpoint($breakpoint-tablet-landscape){
		  	width: 80%;
		  }
		}
	}
	&-team{
		padding: 10px;
	}
}
.social-icons{
	>a{
		display: inline-block;
		text-align: center;
		background: $white;
		color: $color-brand-1;
		padding: 1.5px;
		margin-right: 3px;
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}
}
.view {
  position: relative;
  width: 100%;
	height: 220px;
	border-radius: 4px;
	margin-bottom: 14px;
	@include breakpoint($breakpoint-iphone-landscape){
		margin-left: 14px;
		float: left;
		width: 47.2%;
	}
	@include breakpoint($breakpoint-tablet-portrait + 1px){
		width: 31.45%;
		margin-left: 0;
		margin-right: 14px;
	}
	@include breakpoint($breakpoint-tablet-landscape){
		width: 32.3%;
		&:nth-of-type(3), &:nth-of-type(6){
			margin-right: 0;
		}
	}
  overflow: hidden;
  text-align: center;
  .mask, .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: relative;
  }
  h2{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
  }
  p{
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.5rem;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
  }
  a.info{
    display: inline-block;
    padding: 7px 14px;
    background: $color-brand-1;
    color: #fff;
    &:hover{
      box-shadow: 0 0 5px #000;
    }
  }
}
.view-tenth{
	img {
	  transform: scaleY(1);
	  transition: all 0.7s ease-in-out;
	}
	.mask{
    background-color: rgba(255, 231, 179, 0.3); 
    transition: all 0.5s linear;
    opacity: 0;
	}
	h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
	}
	p{
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
	}
	a.info{
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
	}
	&:hover{
    background: #ccc;
		img{
			transform: scale(10);
      opacity: 0;
		}
		.mask{
			opacity: 1;
		}
		h2, p, a.info{
      transform: scale(1);
      opacity: 1;
		}
	}
}
.app{
	&_button{
		background: image-url("appbuttons.png");
		width: 200px;
		height: 57px;
		display: inline-block;
		border-radius: 6px;
	}
	&-ios{
		background-position: 0 -63px;
	}
}
.video{
	margin: 20px auto;
	width: 100%;
	height: 280px;
	border: solid 4px $white;
	@include breakpoint($breakpoint-android-landscape){
		height: 320px;
	}
	@include breakpoint($breakpoint-laptop){
		margin-top: 40px;
		width: 80%;
		height: 350px;
	}
}
.category{
	&-item{
		text-align: center;
		margin-bottom: 20px;
		&:hover{
			font-weight: bold;
		}
		> span{
			display: block;
			margin: 5px auto;
		}
		@include breakpoint($breakpoint-iphone-landscape){
			float: left;
			width: 50%;
		}
		@include breakpoint($breakpoint-tablet-portrait){
			width: 33.3%;
		}
		@include breakpoint($breakpoint-tablet-landscape){
			width: 16.6%;
		}
		.category-selection &{
			&:hover{ background: rgba($color-brand-1, .2); padding: 5px; border: solid thin $color-brand-1; cursor: pointer; }
		}
	}
	&-selection{
    padding: 30px 20px;
	}
	&-logo{
		background: image-url("category-sprite.png") no-repeat 0 -4px;
		width: 92px;
		height: 99px;
	}
	&-stationery{
		background: image-url("category-sprite.png") no-repeat -219px -1px;
		width: 87px;
		height: 99px;
	}
	&-banner{
		background: image-url("category-sprite.png") no-repeat -437px -5px;
		width: 82px;
		height: 99px;
	}
	&-brochure{
		background: image-url("category-sprite.png") no-repeat -629px -1px;
		width: 133px;
		height: 99px;
	}
	&-website{
		background: image-url("category-sprite.png") no-repeat -858px -1px;
		width: 106px;
		height: 99px;
	}
	&-corporate{
		background: image-url("category-sprite.png") no-repeat -1062px -8px;
		width: 131px;
		height: 99px;
	}
	&-custom{
		::-webkit-input-placeholder{ color: $color-brand-1; }
		:-moz-placeholder{ color: $color-brand-1; }
		::-moz-placeholder { color: $color-brand-1; }
		:-ms-input-placeholder { color: $color-brand-1; }
		&__title{
			display: block;
			margin: 10px auto;
			padding: 5px 10px;
			width: 80%;
			height: 40px;
			border: solid 3px $color-brand-1;
			background: transparent;
			border-radius: 5px;
		}
		&__desc{
			display: block;
			margin: 10px auto;
			padding: 10px;
			width: 80%;
			height: 200px;
			border: solid 3px $color-brand-1;
			border-radius: 5px;
			background: transparent;
		}
		&__submit{
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			background: $color-brand-1;
			color: $white;
			&:hover{
				box-shadow: 2px 3px 1px #666 inset;
			}
		}
	}
}
.authentication{
	&-box{
		position: relative;
		top: -80px;
		width: 80%;
		max-width: 400px;
		margin: 0 auto;
		background: $white;
		border-radius: 4px;
		box-shadow: 0 0 1.5px darken($white, 50%), 0 0 3px $color-brand-1;
		text-align: center;
	}
	&-navigation{
		border-bottom: solid thin #eee;
		@include clearfixable;
		> a{
			display: block;
			float: left;
			width: 50%;
			padding: 10px;
			&:first-of-type{
				border-top-left-radius: 4px;
			}
			&:last-of-type{
				border-top-right-radius: 4px;
			}
		}
		.is_inactive{
			background: #eee;
			color: #888;
			box-shadow: 0 0 2px #888 inset;
			&:hover{
				box-shadow: 0 0 4px #777 inset;
			}
		}
	}
	&-form{
		padding: 20px;
		text-align: justify;
		[type="text"],[type="email"],[type="password"]{
			width: 100%;
			height: 35px;
			border: solid thin $color-brand-1;
			border-radius: 3px;
			padding: 0 5px;
		}
	}
}
.field{
	margin: 8px 0;
}
.link__decorated{
	text-decoration: underline;
}
.page{
	&-navigation{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		background: rgba($color-brand-1, .3);
		@include clearfixable;
		.icon{
			width: 3rem;
			height: 100%;
		}
		> div{
			width: 50px;
			height: 100%;
			background: rgba($color-brand-1, .5);
			cursor: pointer;
			&:first-of-type{
				float: left;
			}
			&:last-of-type{
				float: right;
			}
			&:hover{
				background: rgba($color-brand-1, .8);
			}
		}
		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
			position: absolute;
			right: 10px;
			top: 40px;
			background: $white;
			color: $color-brand-1;
			display: none;
		}
		li{
			>a{
				display: block;
				width: 150px;
				padding: 10px;
				border-bottom: solid thin #eee;
				&:hover{
					font-weight: bold;
				}
			}
		}
	}
}
.notify{
	position: relative;
	background: #ddd;
	color: #888;
	padding: 10px 3rem 10px 20px;
	@include gradient-light-linear;
	&-danger{
		background: darken($color-wine, 10%);
		color: $white;
		@include gradient-dark-linear;
	}
	&-clear{
		position: absolute;
		top: 0;
		right: 2px;;
		width: 3rem;
		height: 100%;
		border-left: solid thin rgba(#bbb, .5);
	}
}
.scrollup{
	position: fixed;
	bottom: 200px;
	right: 10px;
	z-index: 9000;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	padding: 10px;
	background: darken($color-brand-2, 10%);
	box-shadow: 1px 2px 3px #444;
	text-align: center;
	cursor: pointer;
	display: none;
	.icon{
		color: $white;
		font-size: 4rem;
	}
}
.radio__custom{
	display: none;
	+ label{
		display: block;
		float: left;
		width: 50%;
		padding: 10px;
		text-align: center;
		background-color: #ddd;
		color: #888;
		transition: background-color 0.3s ease-in-out;
	}
	&:checked + label{
		background-color: darken($color-brand-2, 5%);
		color: $white;
	}
	&:first-of-type + label{
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	&:last-of-type + label{
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}
.pricing{
	padding: 10px;
	&-block{
		border: solid thin $color-brand-1;
		margin: 10px 0;
		@include breakpoint($breakpoint-tablet-landscape){
			float: left;
			width: 18%;
			margin: 10px 5px 10px 0;
		}
		&__title{
			background-color: $color-brand-1;
			color: $white;
			>h3{
				background-color: lighten($color-brand-1, 10%);
				margin: 0;
				padding: 10px;
			}
			>div{
				padding: 20px;
				font-size: 3rem;
			}
			sup{
				font-size: 1.8rem;
			}
		}
		&__list{
			list-style-type: none;
			padding: 0;
			margin: 0;
			li{
				text-align: justify;
				padding: 10px 20px;
				border-bottom: solid thin rgba($color-brand-1, .8);
			  &::after{
					content: " " attr(title) ;
				}
				@include breakpoint($breakpoint-tablet-landscape){
					text-align: center;
					&::after{
						content: "";
					}
				}
			}
			.icon{
				font-size: 2.3rem;
				height: 2rem;
				&.checked{
					color: $color-success;
				}
			}
		}
		&__content{
			padding: 10px;
		}
	}
	&-label{
		float: left;
		width: 26%;
		margin: 10px 0;
		display: none;
		@include breakpoint($breakpoint-tablet-landscape){
			display: block;
		}
		ul{
			list-style-type: none;
			padding: 0;
			margin: 138px 0 0;
		}
		li{
			padding: 10px;
			border-bottom: solid thin $color-brand-1;
		}
	}
}
.authenticated{
	&-navigation{
		padding: 20px;
		@include breakpoint($breakpoint-tablet-portrait){
			padding: 0;
		}
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		background: rgba(darken($color-brand-1, 12%), .9);
		.logo{
			@include breakpoint($breakpoint-android-landscape + 4px){
			  position: static;
			}
			@include breakpoint($breakpoint-tablet-portrait){
				position: absolute;
				top: 20px;
				left: 50px;
			}
		}
	}
	&-menu{
		position: fixed;
		top: 0;
		left: -70%;
		min-width: 70%;
		height: 100%;
		background: $color-brand-1;
		list-style-type: none;
		padding: 0;
		margin: 0;
		li>a{
			display: block;
			background: darken($color-brand-1, 5%);
			padding: 15px;
			margin: 2px 0;
			&:hover{
				background: darken($color-brand-1, 8%);
			}
		}
		@include breakpoint($breakpoint-tablet-portrait){
			position: absolute;
			top: 0;
			left: auto;
			min-width: 0;
			right: 20px;
			>li{
				display: inline-block;
				margin: 0 -2px;
				height: 100%;
				>a{
					display: block;
					background: rgba(darken($color-brand-1, 15%), .9);
					margin: 0 -.3px;
	        padding: 10px 20px;
					height: 100%;
					border-right: solid 2px rgba($white, .1);
					&:hover{
						background: rgba(darken($color-brand-2, 15%), .7);
					}
				}
			}
		}
		.icon{
			display: block;
			margin: 10px auto;
			font-size: 2.5rem;
		}
	}
}
.dashboard{
	&-nav{
		padding: 20px 0 0;
		> ul{
			list-style-type: none;
			padding: 0;
			margin: 20px 0 0;
			@include clearfixable;
		}
		li{
			position: relative;
			> a{
				display: inline-block;
				float: left;
				width: 25%;
				padding: 20px 10px;
				text-align: center;
				background: darken($color-brand-1, 12%);
				@include breakpoint($breakpoint-tablet-portrait - 1px){
				  text-align: left;
				  display: block;
				  float: none;
				  width: 100%;
				  padding: 20px;
			  }
				&.is_active{
					color: darken($white, 20%);
				}
				> span:not(.count){
					display: none;
					@include breakpoint($breakpoint-tablet-portrait - 1px){
						display: inline;
					}
				}
			}
			&:nth-of-type(odd){
				> a{
				  background: darken($color-brand-1, 15%);
				}
			}
			&:hover{
				color: $white;
			}
			.count{
				display: inline-block;
				background: $color-brand-2;
				color: #222;
				width: 25px;
				height: 25px;
				padding: 2px;
				text-align: center;
				border-radius: 50%;
				&:empty{
				 display: none;
				}
				@include breakpoint($breakpoint-tablet-portrait - 1px){
					float: right;
				}
			}
			.icon{
				@include breakpoint($breakpoint-tablet-portrait - 1px){
				  position: absolute;
				  top: 25px;
				  left: 80px;
			  }
			}
		}
	}
	&-empty{
		margin: 30px auto;
		width: 250px;
		text-align: center;
		>.icon{
			font-size: 15rem;
		}
	}
	&-search__filter{
		width: 80%;
		height: 35px;
		padding: 5px;
		border-radius: 5px;
		border: solid 4px lighten($color-brand-1, 20%);
		box-shadow: 0 0 3px #222 inset;
		@include gradient-dark-linear;
	}
}
.widget{
	height: 300px;
	color: #eee;
	overflow: hidden;
	margin-bottom: 10px;
	@include breakpoint($breakpoint-tablet-wide){
		width: 48.8%;
		float: left;
		margin-right: 5px;
		margin-left: 5px;
	}
	@include breakpoint(1275px){
		width: 49%;
	}
	&-title{
		margin: 0;
		height: 50px;
		padding: 10px 20px;
		@include ellipsis-line(100%);
		> span{
			font-size: 1.6rem;
			margin-left: 10px;
			&::before{
				content: '(';
			}
			&::after{
				content: ')';
			}
		}
		.widget-draft &{
		  border-bottom: solid thin darken($color-widget-draft, 5%);
		}
		.widget-open &{
	    border-bottom: solid thin darken($color-widget-open, 5%);
		}
		.widget-closed &{
			border-bottom: solid thin darken($color-widget-closed, 5%);
		}
	}
	&-draft{
		background: $color-widget-draft;
	}
	&-open{
		background: $color-widget-open;
	}
	&-closed{
		background: $color-widget-closed;
	}
	&-content{
		padding: 20px 30px;
		&__list{
			list-style-type: none;
			margin: 0;
			padding: 0;
			font-size: 2rem;
			li{
				margin-bottom: 10px;
			}
		}
		.icon{
			margin-right: 10px;
		}
	}
	&-meta{
		padding: 6px 20px;
		time{
			float: right;
			margin-top: 12px;
		}
	}
}
.steps{
	margin: $step-size auto;
	width: $step-size * 6;
	text-align: center;
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		@include clearfixable;
	}
	li{
		position: relative;
		display: inline-block;
		width: $step-size;
		height: $step-size;
		border-radius: 50%;
		float: left;
		border: solid 3px $white;
		&:not(:last-of-type){
			margin-right: $step-space;
			&::after{
				content: '';
				display: block;
				position: absolute;
				left: $step-size - 2;
				top: ($step-size / 2) - 2px;
				width: $step-space;
				border-top: solid 3px $white;
			}
		}
	}
}
.pagination{
	list-style-type: none;
	padding: 0;
	margin: 20px 15px;
	@include breakpoint($breakpoint-tablet-portrait - 1px){
		margin: -10px 15px;
	}
	> li{
    display: inline-block;
    background: $color-brand-1;
    @include gradient-dark-radial;
    color: $white;
    &.disabled{
    	color: #777;
    }
    &:hover{
    	@include gradient-light-linear;
    }
    &:first-of-type{
    	border-radius: 5px 0 0 5px;
    }
    &:last-of-type{
    	border-radius: 0 5px 5px 0;
    }
    &:not(:last-of-type){
    	border-right: solid 2px lighten($color-brand-1, 10%);
    }
    > a{
    	display: block;
      padding: 10px 20px;
    }
	}
}
.settings{
	&-box{
		position: relative;
		top: -80px;
		width: 80%;
		max-width: 600px;
		margin: 0 auto;
		background: $white;
		border-radius: 4px;
		box-shadow: 0 0 1.5px darken($white, 50%), 0 0 3px $color-brand-1;
	}
	&-form{
		padding: 20px;
		text-align: justify;
		[type="text"],[type="email"],[type="password"]{
			width: 100%;
			height: 35px;
			border: solid thin $color-brand-1;
			border-radius: 3px;
			padding: 10px;
		}
		[disabled]{
			background: darken($white, 5%);
			color: darken($white, 50%);
		}
		label{
			white-space: pre;
		}
	}
	&-extras{
		padding: 10px 20px;
	}
	&-navigation{
		background: darken($white, 5%);
		height: 50px;
		border-bottom: solid thin #888;
		padding: 0 20px;
		text-align: left;
		ul{
			list-style-type: none;
			padding: 8px 0 0;
			margin: 0;
			li{
				display: inline-block;
				>a{
					display: block;
					padding: 10px 20px;
					color: $color-brand-2;
					border-radius: 4px 4px 0 0;
					&.is_active{
						background: $white;
						border: solid thin darken($white, 20%);
						border-bottom: solid thin $white;
						color: $color-brand-1;
					}
				}
			}
		}
	}
}

p{
  margin: 0;
  padding: 0;
}
.team{
  &-member{
	  position: relative;
	  background: url(http://placehold.it/300x300);
	  background-size: cover;
	  backface-visibility: hidden;
	  width: 100%;
	  height: 350px;
	  margin: 10px auto;
	  overflow: hidden;
	  @include breakpoint($breakpoint-android-landscape){
	  	float: left;
	  	width: 47.8%;
	  	height: 280px;
	  	margin: 5px;
	  }
	  @include breakpoint($breakpoint-iphone-landscape){
	  	width: 48.2%;
	  	height: 350px;
	  }
	  @include breakpoint($breakpoint-tablet-portrait - 1px){
	  	width: 31.95%;
	  }
	  @include breakpoint($breakpoint-tablet-landscape){
	  	width: 32.2%;
	  }
	  .overlay{
	    border-bottom: 100px solid $color-brand-2;
	    border-left: 100px solid transparent;
	    bottom: 0;
	    height: 0;
	    opacity: .75;
	    position: absolute;
	    right: 0;
	    text-indent: -9999px;
	    transition: all .5s ease-out;
	    width: 0;
	  }
	  &:hover .overlay{
	    border-bottom: 1200px solid $color-brand-2;
	    border-left: 1200px solid transparent;
	    transition: all .5s ease-out;
	  }
	  .corner-overlay-content{
	    bottom: 15px;
	    color: #333;
	    position: absolute;
	    right: 15px;
	    transition: all .5s ease-out;
	  }
	  &:hover .corner-overlay-content{
	    opacity: 0;
	    transition: all .5s ease-out;
	  }
	  .overlay-content{
	    bottom: 0;
	    color: #333;
	    left: 0;
	    opacity: 0;
	    padding: 30px 0;
	    position: absolute;
	    right: 0;
	    top: 0;
	    transition: all .3s ease-out;
	    &__header{
	    	padding: 5px 10px;
        background: rgba($color-brand-1, .8);
        height: 80px;
        color: $white;
        text-align: center;
	    }
	    &__links{
	    	padding: 20px 40px;
				text-align: center;
	    	> a{
					display: inline-block;
					background: $color-brand-1;
					color: lighten($color-brand-2, 10%);
					padding: 2px;
					margin-right: 3px;
					margin-bottom: 10px;
					border-radius: 50%;
					width: 60px;
					height: 60px;
					font-size: 3.5rem;
				}
	    }
	    h2{ margin: 5px 0; }
	  }
	  &:hover .overlay-content{
	    opacity: 1;
	    transition: all .3s ease-out;
	    transition-delay: .3s;
	  }
	}
	&-detail{
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		padding: 2px 8.5px;
		background: $color-brand-1;
		color: $white;
		font-weight: bold;
		font-size: 2rem;
	}
}
.portfolio{
	&-box{
		position: relative;
		top: -60px;
		width: 90%;
		max-width: 1000px;
		margin: 0 auto;
		background: $white;
		border-radius: 4px;
		box-shadow: 0 0 1.5px darken($white, 50%), 0 0 3px $color-brand-1;
		@include breakpoint($breakpoint-tablet-portrait){
			position: relative;
			@include clearfixable;
			padding-left: 20%;
		}
		@include breakpoint($breakpoint-laptop){
			padding-left: 240px;
			max-width: $breakpoint-laptop;
		}
	}
	&-gallery{
		padding: 20px 10px;
	}
	&-item{
		text-align: center;
		width: 100%;
		height: 250px;
		padding: 5px;
		margin-bottom: 10px;
		background: $color-brand-1;
		@include gradient-light-linear;
		color: $white;
		border-radius: 5px;
		> img{
			width: 100%;
			height: 210px;
		}
		> p{
			margin: 5px 0;
		}
		@include breakpoint($breakpoint-iphone-landscape - 1px){
			float: left;
			width: calc(100% / 2 - 2.04%);
			margin-right: 10px;
		}
		@include breakpoint($breakpoint-laptop){
			width: 32%;
		}
	}
	&-nav{
		display: none;
		padding: 50px 0 20px 10px;
		@include breakpoint($breakpoint-tablet-portrait){
			display: block;
			position: absolute;
			left: 0;
			width: 20%;
			height: 100%;
			background: #ddd;
		}
		> ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li{
			> a{
				display: block;
				color: #666;
				padding: 10px;
				&.active{
					background: $white;
					border: solid thin #aaa;
					border-right: 0;
					border-radius: 4px 0 0 4px;
					box-shadow: -2px 3px 2px #888;;
				}
				&:hover{
					font-weight: bold;
				}
			}
		}
	}
}