a{ text-decoration: none; color: inherit; }
html{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: 62.5%;
}
body{
  margin: 0;
  font-family: $font-stack;
  font-size: 15px; /* For Browsers with no support for root em */
  font-size: 1.5rem;
  background: image-url("background.jpg");
  /* Has to be out for zopim live chat to function properly but smoothness of mobile menu is affected */
  //transform: translate3d(0, 0, 0);
  //transition: transform 500ms ease;
  overflow-x: hidden;
  .openNav &{
  	left: 0;
  	transform: translate3d(70%, 0, 0);
  	transition: transform 500ms ease;
  }
}
.logo{
	@include breakpoint($breakpoint-android-landscape + 4px){
		position: absolute;
		top: 40px;
		left: 50px;
	}
}
.header{
  padding: 20px;
	text-align: center;
	color: $white;
	&-landing{
		@include tinted-bg(darken($color-brand-1, 12%), .95, "header-1.jpg", 100% 100%);
  	height: 500px;
	}
	&-authentication{
		@include tinted-bg(darken($color-brand-1, 12%), .95, "header-2.jpg", 100% 100%);
  	height: 300px;
	}
	&-caption{
		font-size: 3.2rem;
		margin: 30px 0;
		@include breakpoint($breakpoint-android-landscape){
			margin: 8px 0;
		}
		@include breakpoint($breakpoint-android-landscape + 4px){
			margin: 150px 30px 0;
		}
		@include breakpoint($breakpoint-tablet-portrait){
			font-size: 4.5rem;
		}
	}
	&-description{
		font-size: 1.6rem;
		@include breakpoint($breakpoint-tablet-portrait){
			font-size: 2.2rem;
		}
	}
	&-button__options{
		padding: 10px;
		@include breakpoint($breakpoint-android-landscape + 4px){
			position: absolute;
			left: 0;
			width: 100%;
			top: 300px;
		}
	  > .button{
		  margin: 5px;
		}
	}
	&-navigation{
		position: fixed;
		top: 0;
		left: -70%;
		width: 70%;
		height: 100%;
		background: $color-brand-1;
		ul{
			list-style: none;
			padding: 0;
		}
		li>a{
			display: block;
			background: darken($color-brand-1, 5%);
			padding: 15px;
			margin: 2px 0;
			&:hover{
				background: darken($color-brand-1, 8%);
			}
		}
		@include breakpoint($breakpoint-android-landscape + 4px){
			position: absolute;
			left: auto;
			width: auto;
			min-width: 205px;
			height: auto;
			background: transparent;
			top: 30px;
		  right: 40px;
		  ul{
		  	@include clearfixable;
		  	border: solid thin $white;
		  	height: 40px;
		  	border-radius: 4px;
		  	padding: 4px 0;
		  }
		  li{
			  >a{
			  	display: inline-block;
			  	margin: 0;
			  	background: transparent;
			  	letter-spacing: 1px;
			  	padding: 4px;
			  	width: 100px;
			  	float: left;
			  	border-left: solid thin $white;
			  	&:hover{
			  		background: transparent;
			  		color: darken($white, 20%);
			  	}
			  }
			  &:first-of-type{
			  	a{
			  		border: none;
			  	}
			  }
		  }	
		}
	}
}
.button{
	display: inline-block;
	padding: 10px;
	color: $white;
	border-radius: 4px;
	&-large{
		width: 200px;
	}
	&-polarized{
		background: $color-brand-2;
		border: solid 2px $color-brand-2;
		&:hover{
			background: darken($color-brand-2, 10%);
		}
	}
	&-bordered{
		background: transparent;
		border: solid 2px $white;
		&:hover{
			background: rgba($white, .8);
			color: $color-brand-1;
		}
	}
	&-bordered-brand{
		background: transparent;
		border: solid 2px $color-brand-1;
		color: $color-brand-1;
		&:hover{
			color: ligthen($color-brand-1, 10%);
			border: ligthen($color-brand-1, 10%);
			font-weight: bold;
		}
	}
}
.footer{
	padding: 30px;
	color: $white;
	vertical-align: text-bottom;
	&-primary{
		@include tinted-bg(darken($color-brand-1, 8%), .95, "footer-bg.jpg", 100% 100%);
		text-align: center;
		@include breakpoint($breakpoint-tablet-landscape){
			padding: 50px;
			text-align: justify;
		}
	}
	&-list{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			margin: 10px 0;
			white-space: nowrap;
		}
		a:hover{
			color: darken($white, 25%);
		}
	}
	&-sub__heading{
		margin: 15px 0;
		font-size: 2.5rem;
	}
}
.email-address::after{
	content: "info@designscook.com"
}
.app-links{
	margin: 5px;
}
.payment{
	margin: 15px 0;
	&-option{
		width: 50px;
	}
}
.icon{
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	fill: currentColor;
	&-payments{
		width: 4rem;
		font-size: 3rem;
		color: #ddd;
	}
	&-menu{
		position: absolute;
		top: 20px;
		left: 20px;
		height: 32px;
		width: 32px;
		font-size: 3rem;
		cursor: pointer;
		@include breakpoint($breakpoint-android-landscape + 4px){
			display: none;
		}
	}
	&-postings{
		width: 100px;
		height: 100px;
		color: $color-brand-1;
	}
}
/* Grids */
.container{
	@include container(100%);
}
[data-grid~="1:5"]{
	@include span(100%);
	@include breakpoint($breakpoint-tablet-portrait){
		@include span(30%);
		&:last-child{
			@include span(100%);
		}
	}
	@include breakpoint($breakpoint-tablet-landscape){
		@include span(18%);
		&:last-child{
			@include span(18%);
		}
	}
}
.section{
	&-mini{
		max-width: 1100px;
		margin: 0 auto;
		@include clearfixable;
	}
	&-tour{
		text-align: center;
		&__step{
			@include breakpoint($breakpoint-tablet-portrait + 1px){
				position: relative;
				float: left;
				padding: 10px;
				width: 25%;
				&:not(:last-of-type)::after{
					content: image-url("forward.svg");
					position: absolute;
					top: 30px;
					right: -30px;
				}
			}
			&:hover > .icon-postings{	
			  animation: tourEffect 1s;
			}
		}
		&-title{
			font-weight: lighter;
			>strong{
				font-weight: bold;
			}
			@include breakpoint($breakpoint-tablet-landscape){
				font-size: 2.8rem;
			}
		}
	}
	&-portfolio{
		padding: 10px;
		text-align: center;
	}
	&-demo{
		background: $color-brand-1;
		padding: 40px 20px;
		margin: 10px 0;
		text-align: center;
	}
	&-divider-heading{
		position: relative;
		margin: 10px auto;
		padding: 10px;
		text-align: center;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 250px;
			height: 10px;
			border-top: solid 2px $color-brand-1;
		}
	}
	&-categories{
		padding: 10px 0;
		text-align: center;
	}
}
.social-icons{
	>a{
		display: inline-block;
		text-align: center;
		background: $white;
		color: $color-brand-1;
		padding: 1.5px;
		margin-right: 3px;
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}
}
.view {
  position: relative;
  width: 100%;
	height: 220px;
	border-radius: 4px;
	margin-bottom: 14px;
	@include breakpoint($breakpoint-iphone-landscape){
		margin-left: 14px;
		float: left;
		width: 47.2%;
	}
	@include breakpoint($breakpoint-tablet-portrait + 1px){
		width: 31.45%;
		margin-left: 0;
		margin-right: 14px;
	}
	@include breakpoint($breakpoint-tablet-landscape){
		width: 32.3%;
		&:nth-of-type(3), &:nth-of-type(6){
			margin-right: 0;
		}
	}
  overflow: hidden;
  text-align: center;
  .mask, .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  img{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  h2{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
  }
  p{
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
  }
  a.info{
    display: inline-block;
    padding: 7px 14px;
    background: $color-brand-1;
    color: #fff;
    &:hover{
      box-shadow: 0 0 5px #000;
    }
  }
}
.view-tenth{
	img {
	  transform: scaleY(1);
	  transition: all 0.7s ease-in-out;
	}
	.mask{
    background-color: rgba(255, 231, 179, 0.3); 
    transition: all 0.5s linear;
    opacity: 0;
	}
	h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
	}
	p{
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
	}
	a.info{
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
	}
	&:hover{
    background: #ccc;
		img{
			transform: scale(10);
      opacity: 0;
		}
		.mask{
			opacity: 1;
		}
		h2, p, a.info{
      transform: scale(1);
      opacity: 1;
		}
	}
}
.app{
	&_button{
		background: image-url("appbuttons.png");
		width: 200px;
		height: 57px;
		display: inline-block;
		border-radius: 6px;
	}
	&-ios{
		background-position: 0 -63px;
	}
}
.vimeo{
	margin: 20px 0;
	width: 100%;
	height: 185px;
	border: solid 4px $white;
	@include breakpoint($breakpoint-android-landscape){
		height: 320px;
	}
}
.category{
	&-item{
		text-align: center;
		margin-bottom: 20px;
		&:hover{
			font-weight: bold;
		}
		> span{
			display: block;
			margin: 5px auto;
		}
		@include breakpoint($breakpoint-iphone-landscape){
			float: left;
			width: 50%;
		}
		@include breakpoint($breakpoint-tablet-portrait){
			width: 33.3%;
		}
		@include breakpoint($breakpoint-tablet-landscape){
			width: 16.6%;
		}
	}
	&-logo{
		background: image-url("category-sprite.png") no-repeat 0 -4px;
		width: 92px;
		height: 99px;
	}
	&-stationery{
		background: image-url("category-sprite.png") no-repeat -219px -1px;
		width: 87px;
		height: 99px;
	}
	&-banner{
		background: image-url("category-sprite.png") no-repeat -437px -5px;
		width: 82px;
		height: 99px;
	}
	&-brochure{
		background: image-url("category-sprite.png") no-repeat -629px -1px;
		width: 133px;
		height: 99px;
	}
	&-website{
		background: image-url("category-sprite.png") no-repeat -860px -1px;
		width: 103px;
		height: 99px;
	}
	&-corporate{
		background: image-url("category-sprite.png") no-repeat -1062px -8px;
		width: 131px;
		height: 99px;
	}
}