a{ text-decoration: none; color: inherit; }
html{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: 62.5%;
  height: 100%;
}
body{
  margin: 0;
  font-family: $font-stack;
  font-size: 15px; /* For Browsers with no support for root em */
  font-size: 1.8rem;
  height: 100%;
  background: image-url("background.jpg");
}
.header{
  height: 80%; /* For < IE 8 with no support for VH */
  height: 80vh;
  padding: 20px;
	text-align: center;
	color: $white;
	&-landing{
		@include tinted-bg(darken($color-brand-1, 12%), .95, "header-1.jpg", 100% 100%);
	}
	&-caption{
		font-size: 3.2rem;
		margin: 15px 10px 0;
	}
	&-description{
		font-size: 1.6rem;
	}
	&-button__options{
		padding: 5px;
	  > .button{
		  margin: 5px;
		}
	}
}
.button{
	display: inline-block;
	padding: 10px;
	color: $white;
	border-radius: 4px;
	&-large{
		width: 200px;
	}
	&-polarized{
		background: $color-brand-2;
		border: solid 2px $color-brand-2;
		&:hover{
			background: darken($color-brand-2, 10%);
		}
	}
	&-bordered{
		background: transparent;
		border: solid 2px $white;
		&:hover{
			background: rgba($white, .8);
			color: $color-brand-1;
		}
	}
}