<div class="choice--page">
	<div class="choice--page__showcase">
		<%= image_tag 'slider-img-round-red.png' %>
	</div>
	<div class="choice--page__options">
		<h2>Log in as...</h2>
		<p><%= link_to 'Designer', designer_path, class: 'button button-large button-polarized' %></p>
		<p><%= link_to 'Customer', customer_path, class: 'button button-large button-polarized' %></p>
	</div>
</div>