<header class="header header-authenticated">
	<svg class="icon icon-menu" id="js-toggle-nav"><use xlink:href="#icon-menu"></use></svg>
	<nav class="authenticated-navigation">
	  <%= link_to root_path do %><%= image_tag "logo.png", class: 'logo' %><% end %>
	  <ul class="authenticated-menu">
	  	<li><a href=""><svg class="icon icon-add-circle-outline"><use xlink:href="#icon-add-circle-outline"></use></svg>Post project</a></li>
	  	<li><a href=""><svg class="icon icon-cog"><use xlink:href="#icon-cog"></use></svg>Account settings</a></li>
	  	<li>
	  		<%= link_to destroy_user_session_path, :method => :delete do %>
	  		<svg class="icon icon-backspace"><use xlink:href="#icon-backspace"></use></svg> Log out
	  		<% end %>
	  	</li>
	  </ul>
	</nav>
	<h1 class="header-caption">My Account</h1>
</header>
<section class="section-dashboard">
	
</section>