<header class="header header-authenticated">
	<svg class="icon icon-menu" id="js-toggle-nav"><use xlink:href="#icon-menu"></use></svg>
	<nav class="authenticated-navigation">
	  <%= link_to root_path do %><%= image_tag "logo.png", class: 'logo' %><% end %>
	  <ul class="authenticated-menu">
	  	<li><a href=""><svg class="icon icon-add-circle-outline"><use xlink:href="#icon-add-circle-outline"></use></svg>Post project</a></li>
	  	<li><a href=""><svg class="icon icon-cog"><use xlink:href="#icon-cog"></use></svg>Account settings</a></li>
	  	<li>
	  		<%= link_to destroy_user_session_path, :method => :delete do %>
	  		<svg class="icon icon-backspace"><use xlink:href="#icon-backspace"></use></svg> Log out
	  		<% end %>
	  	</li>
	  </ul>
	</nav>
	<h1 class="header-caption">My Account</h1>
</header>
<section class="section-dashboard dashboard">
	<nav class="dashboard-nav">
		<h3><%= current_user.firstname %></h3>
		<ul>
			<li><a href="" class="is_active">All <span>Projects</span> <span class="count">3</span></a></li>
			<li><a href=""><span>Drafts</span> <svg class="icon icon-feather"><use xlink:href="#icon-feather"></use></svg></a></li>
			<li><a href=""><span>Open</span> <svg class="icon icon-book"><use xlink:href="#icon-book"></use></svg></a></li>
			<li><a href=""><span>Closed</span> <svg class="icon icon-task"><use xlink:href="#icon-task"></use></svg></a></li>
		</ul>
	</nav>
	<main class="clearfix">
		<div class="widget">
			<h2 class="widget-title">Vector logo design<span>draft</span></h2>
			<div class="widget-content">
				<ul class="widget-content__list">
					<li>stuff</li>
					<li>stuff</li>
					<li>stuff</li>
					<li>stuff</li>
				</ul>
			</div>
			<div class="widget-meta">
				<a href="" class="button">Resume order</a>
				<a href="" class="button">Resume order</a>
				<time>Date created: time</time>
			</div>
		</div>
		<div class="widget">
			<h2 class="widget-title">Vector logo design<span>draft</span></h2>
			<div class="widget-content">
				<ul class="widget-content__list">
					<li>stuff</li>
					<li>stuff</li>
					<li>stuff</li>
					<li>stuff</li>
				</ul>
			</div>
			<div class="widget-meta">
				<a href="" class="button">Resume order</a>
				<a href="" class="button">Resume order</a>
				<time>Date created: time</time>
			</div>
		</div>
	</main>
</section>