<header class="header header-authenticated">
	<svg class="icon icon-menu" id="js-toggle-nav"><use xlink:href="#icon-menu"></use></svg>
	<nav class="authenticated-navigation">
	  <%= link_to root_path do %><%= image_tag "logo.png", class: 'logo' %><% end %>
	  <ul class="authenticated-menu">
	  	<li><a href=""><svg class="icon icon-add-circle-outline"><use xlink:href="#icon-add-circle-outline"></use></svg>Post project</a></li>
	  	<li><a href=""><svg class="icon icon-cog"><use xlink:href="#icon-cog"></use></svg>Account settings</a></li>
	  	<li>
	  		<%= link_to destroy_user_session_path, :method => :delete do %>
	  		<svg class="icon icon-backspace"><use xlink:href="#icon-backspace"></use></svg> Log out
	  		<% end %>
	  	</li>
	  </ul>
	</nav>
	<h1 class="header-caption">My Account</h1>
</header>
<section class="section-dashboard dashboard">
	<nav class="dashboard-nav">
		<h3><%= current_user.firstname %></h3>
		<ul>
			<li><a href="" class="is_active">All <span>Projects</span> <span class="count">3</span></a></li>
			<li><a href=""><span>Drafts</span> <svg class="icon icon-feather"><use xlink:href="#icon-feather"></use></svg></a></li>
			<li><a href=""><span>Open</span> <svg class="icon icon-book"><use xlink:href="#icon-book"></use></svg></a></li>
			<li><a href=""><span>Closed</span> <svg class="icon icon-task"><use xlink:href="#icon-task"></use></svg></a></li>
		</ul>
	</nav>
	<main>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, ut minima consectetur tenetur sit aut, hic provident fugiat officiis deleniti rem nihil quia aspernatur magni repellat harum amet omnis voluptatem molestias molestiae repudiandae! Consequatur dignissimos perferendis consequuntur? Sapiente voluptatum aperiam excepturi magnam magni reiciendis repellat, mollitia saepe totam, deserunt ipsam tenetur voluptatibus, distinctio placeat corrupti impedit at odit nulla quasi. Ex delectus expedita iure rem quis minima obcaecati accusantium quibusdam a molestiae pariatur ratione officiis quia soluta placeat, distinctio ipsa aliquam quasi dicta recusandae velit! Neque, laboriosam rerum. Laboriosam quis est quasi omnis minus error dolorem vitae temporibus facere sed!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate at laborum neque numquam dolorum quo officia, beatae veritatis saepe quidem, aspernatur earum animi dolor a consequuntur placeat itaque adipisci aliquid unde culpa vero hic suscipit! Ab iure eligendi illo sed voluptas optio porro. Iste nulla tempore nihil fugiat quas, perferendis corrupti veniam maxime, libero quisquam cumque velit provident laudantium, tenetur? Incidunt perspiciatis sit, aliquid, repudiandae magni voluptate ducimus expedita quia rem quod voluptates maxime dolorum quaerat ut repellendus corporis sapiente. Molestiae eveniet, vitae nihil. Facere deleniti unde laborum quos rem quis, possimus vel. Adipisci laborum ipsa aperiam blanditiis nihil dolores, tenetur maxime suscipit ad nisi eaque rem eos molestias voluptatum quisquam sint vel dolor quos aliquid facilis?</p>
	</main>
</section>